header {
    background-image: url("images/header.jpg");
    background-repeat: no-repeat;
}

h1 {
    color: yellow;
    align-content: center;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#recettes-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
}

.recette-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recette-card img {
    width: 100%;             /* L'image prend toute la largeur de la carte */
    height: auto;            /* Assure le respect du ratio */
    aspect-ratio: 2 / 1;     /* Maintient un ratio de 2:1 (largeur:hauteur) */
    object-fit: cover;       /* Recadre l'image pour remplir l'espace au besoin */
    border-radius: 8px;
}

.recette-card h2 {
    font-size: 1.2em;
    margin: 0.5em 0;
    text-align: center;
}

.details {
    font-size: 0.9em;
    color: #555;
}

ul {
    padding: 0;
    list-style-type: none;
}

ul li {
    font-size: 0.9em;
}

h3 {
    font-size: 1em;
    margin: 1em 0 0.5em;
    color: #333;
}

#filters {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
    margin-bottom: 1rem;
}

#filters input {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 200px;
}


@media (max-width: 768px) {
    #recettes-container {
        grid-template-columns: repeat(2, 1fr); /* 2 colonnes pour les écrans moyens */
    }
}

@media (max-width: 480px) {
    #recettes-container {
        grid-template-columns: 1fr; /* 1 colonne pour les petits écrans */
    }
}
